<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Event Details</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2>Event Details</h2>

	<p>
		<strong>Title:</strong> <span th:text="${event.title}"></span>
	</p>
	<p>
		<strong>Description:</strong> <span th:text="${event.description}"></span>
	</p>
	<p>
		<strong>Location:</strong> <span th:text="${event.location}"></span>
	</p>
	<p>
		<strong>Date:</strong> <span th:text="${event.date}"></span>
	</p>
	<p>
		<strong>Category:</strong> <span th:text="${event.category}"></span>
	</p>
	<p>
		<strong>Available Seats:</strong> <span
			th:text="${event.availableSeats}"></span>
	</p>

	<form th:action="@{/register/event}" method="post">
		<input type="hidden" name="userId" th:value="${user?.id}"> <input
			type="hidden" name="eventId" th:value="${event.id}">
		<button type="submit" th:if="${event.availableSeats > 0}">Register
			for Event</button>
	</form>






	<a th:href="@{/events}">Back to Events</a>
</body>
</html>
